# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=vendure
DB_PASSWORD=vendure
DB_NAME=vendure
DB_LOGGING=false

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Vendure
PORT=3000
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin
NODE_ENV=development
COOKIE_SECRET=g4dy3YjTs7LaF2qssopnnA

STORYBLOK_API_KEY=QtQtXH....
STORYBLOK_SPACE_ID=28....
